<% layout('layouts/boilerplate') %>
    <div class="modal-body row">
        <div class="col-md-6 ">
            <img src="<%= campground.image %>" class="rounded-4 img-fluid" alt="..." alt="">
        </div>

        <div class="col-md-6">
            <h1>
                <%= campground.title %>
            </h1>
            <h2>
                <%= campground.location %>
            </h2>
            <p>
                <%= campground.description%>
            </p>
            <p> <a href="/campgrounds/<%=campground._id%>/edit">Edit</a>
            </p>
            <p>
            <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
            </p>
        </div>
    </div>